<launch>
  <arg name="setpoint_namespace" />
  <arg name="control_effort_namespace" default="/feedback" />

  <remap from="state" to="/state/vel/x" />
  <remap from="setpoint" to="$(arg setpoint_namespace)/vel/x" />
  <remap from="control_effort" to="$(arg control_effort_namespace)/acc/x" />
  <node name="pid_x" type="controller" pkg="pid">

    <rosparam command="load"
      file="$(find iss_docking_automation)/cfg/control/vel/pid_translation.yaml" />
  </node>

  <remap from="state" to="/state/vel/y" />
  <remap from="setpoint" to="$(arg setpoint_namespace)/vel/y" />
  <remap from="control_effort" to="$(arg control_effort_namespace)/acc/y" />
  <node name="pid_y" type="controller" pkg="pid">

    <rosparam command="load"
      file="$(find iss_docking_automation)/cfg/control/vel/pid_translation.yaml" />
  </node>

  <remap from="state" to="/state/vel/z" />
  <remap from="setpoint" to="$(arg setpoint_namespace)/vel/z" />
  <remap from="control_effort" to="$(arg control_effort_namespace)/acc/z" />
  <node name="pid_z" type="controller" pkg="pid">

    <rosparam command="load"
      file="$(find iss_docking_automation)/cfg/control/vel/pid_translation.yaml" />
  </node>

  <remap from="state" to="/state/vel/yaw" />
  <remap from="setpoint" to="$(arg setpoint_namespace)/vel/yaw" />
  <remap from="control_effort" to="$(arg control_effort_namespace)/acc/yaw" />
  <node name="pid_yaw" type="controller" pkg="pid">

    <rosparam command="load"
      file="$(find iss_docking_automation)/cfg/control/vel/pid_rotation.yaml" />
  </node>

  <remap from="state" to="/state/vel/pitch" />
  <remap from="setpoint" to="$(arg setpoint_namespace)/vel/pitch" />
  <remap from="control_effort" to="$(arg control_effort_namespace)/acc/pitch" />
  <node name="pid_pitch" type="controller" pkg="pid">

    <rosparam command="load"
      file="$(find iss_docking_automation)/cfg/control/vel/pid_rotation.yaml" />
  </node>

  <remap from="state" to="/state/vel/roll" />
  <remap from="setpoint" to="$(arg setpoint_namespace)/vel/roll" />
  <remap from="control_effort" to="$(arg control_effort_namespace)/acc/roll" />
  <node name="pid_roll" type="controller" pkg="pid">

    <rosparam command="load"
      file="$(find iss_docking_automation)/cfg/control/vel/pid_rotation.yaml" />
  </node>
</launch>
