<launch>
  <arg name="setpoint_namespace" />
  <arg name="max_linear_acceleration" />
  <arg name="max_angular_acceleration" />

  <include file="$(find iss_docking_automation)/launch/control/vel/closed_loop.launch">
    <arg name="setpoint_namespace" value="$(arg setpoint_namespace)" />
  </include>

  <node name="acc_sum" type="summing_point" pkg="iss_docking_automation">

    <param name="first_signal_namespace" value="/trajectory/acc" />
		<param name="second_signal_namespace" value="/feedback/acc" />
    <param name="sum_namespace" value="/target/acc" />

		<param name="max_magnitude_linear" value="$(arg max_linear_acceleration)" />
		<param name="max_magnitude_angular" value="$(arg max_angular_acceleration)" />
	</node>
</launch>
