<launch>
	<node name="simulator" type="simulator" pkg="iss_docking_automation" />
	<node name="error_to_tf" type="error_to_tf" pkg="iss_docking_automation" />

	<node name="kalman_filter"
		type="kalman_filter"
		pkg="iss_docking_automation">

		<param name="linear_acceleration_variance" value="1" />
		<param name="angular_acceleration_variance" value="1" />
	</node>

	<node name="trajectory_planner"
		type="trajectory_planner"
		pkg="iss_docking_automation">

				<param name="acceleration" value="0.05" />
				<param name="docking_velocity" value="0.1" />
				<param name="docking_distance" value="1.0" />
  </node>

	<include ns="/control/pos"
		file="$(find iss_docking_automation)/launch/control/pos/mixed_loop.launch">

		<arg name="setpoint_namespace" value="/trajectory" />
	</include>

	<include ns="/control/vel"
		file="$(find iss_docking_automation)/launch/control/vel/mixed_loop.launch">

		<arg name="setpoint_namespace" value="/target" />
		<arg name="max_linear_acceleration" value="0.35"/>
	  <arg name="max_angular_acceleration" value="1.4"/>
	</include>

	<node name="command_handler"
		type="command_handler"
		pkg="iss_docking_automation">

		<param name="translation_coefficient" value="0.08" />
		<param name="rotation_coefficient" value="0.7" />
		<param name="precision_histeresis" value="0.25" />
	</node>
</launch>
