<launch>
	<node name="simulator" type="simulator" pkg="iss_docking_automation" />
	<node name="error_to_tf" type="error_to_tf" pkg="iss_docking_automation" />

	<node name="trajectory_planner"
		type="trajectory_planner"
		pkg="iss_docking_automation">

				<param name="acceleration" value="0.12" />
				<param name="docking_velocity" value="0.1" />
				<param name="docking_distance" value="1.0" />
  </node>

	<group ns="controllers">
		<include file="$(find iss_docking_automation)/launch/pid_rotation.launch">
			<arg name="variable" value="yaw" />
		</include>

		<include file="$(find iss_docking_automation)/launch/pid_rotation.launch">
			<arg name="variable" value="pitch" />
		</include>

		<include file="$(find iss_docking_automation)/launch/pid_rotation.launch">
			<arg name="variable" value="roll" />
		</include>
	</group>

	<remap from="/target/acc/x" to="/trajectory/acc/x" />
	<remap from="/target/acc/y" to="/trajectory/acc/y" />
	<remap from="/target/acc/z" to="/trajectory/acc/z" />

	<node name="command_handler"
		type="command_handler"
		pkg="iss_docking_automation">

			<param name="translation_coefficient" value="0.12" />
			<param name="rotation_coefficient" value="1.0" />
	</node>
</launch>
