<launch>
	<node name="simulator" type="simulator" pkg="iss_docking_automation" />
	<node name="error_to_tf" type="error_to_tf" pkg="iss_docking_automation" />

	<node name="trajectory_planner"
	      type="trajectory_planner"
	      pkg="iss_docking_automation">

				<param name="maneuver_time" value="60" />
				<param name="target_velocity" value="0.1" />
				<param name="stabilization_distance" value="0.5" />
  </node>
</launch>
